section#header {
    text-align: center;
    h1 {
        font-size: 4em;
        text-shadow: rgb(45, 189, 182) 1px 0 20px;
    }
    p {
        text-align: center;
        font-size: 1.5em;
        box-shadow: 0px 5px 5px rgb(243, 63, 153);
        width: 50%;
        margin: 30px auto;
    }
}

section#time {
    text-align: center;
    progress.progressBar {
        position: relative;
        right: 5px;
        height: 3em;
        width: 50%;
        margin-bottom: 25px;
    }
}

section#main {
    margin: auto;
    width: 777px;
    margin: 0 auto;

    fruit.card {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin-left: 5px;
        border-radius: 10px;
        border: 2px solid rgb(243, 63, 153);
    }

    fruit.recto {
        background-image: url("cards.png");
        background-repeat: no-repeat;
    }
    
    fruit.verso {
        background: {
            color: rgb(80, 219, 219);
        }
    }
    
    //TODO : voir si on peut pas faire autrement avec cette suite de lignes
    fruit.recto1 {
        background-position: 0 0px;
    }
    
    
    fruit.recto2 {
        background-position: 0 -100px;
    }
    
    fruit.recto3 {
        background-position: 0 -200px;
    }
    
    fruit.recto4 {
        background-position: 0 -300px;
    }
    
    fruit.recto5 {
        background-position: 0 -400px;
    }
    
    fruit.recto6 {
        background-position: 0 -500px;
    }
    
    fruit.recto7 {
        background-position: 0 -600px;
    }
    
    fruit.recto8 {
        background-position: 0 -700px;
    }
    
    fruit.recto9 {
        background-position: 0 -800px;
    }
    
    fruit.recto10 {
        background-position: 0 -900px;
    }
    
    fruit.recto11 {
        background-position: 0 -1000px;
    }
    
    fruit.recto12 {
        background-position: 0 -1100px;
    }
    
    fruit.recto13 {
        background-position: 0 -1200px;
    }
    
    fruit.recto14 {
        background-position: 0 -1300px;
    }
    
    fruit.recto15 {
        background-position: 0 -1400px;
    }
    
    fruit.recto16 {
        background-position: 0 -1500px;
    }
    
    fruit.recto17 {
        background-position: 0 -1600px;
    }
    
    fruit.recto18 {
        background-position: 0 -1700px;
    }
} 

